@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphic {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 3px 6px 0 rgba( 31, 38, 135, 0.07 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 6px 14px 6px 14px;
}

.dd{
  margin-left: -6px;
}

.cc span{
  transition: 0.1s ease-in;
}
.ReactModal__Overlay .ReactModal__Overlay--after-open{
  background-color: rgb(80, 80, 80);
}

.bell:hover{
    transition: 0.4s ease-in-out;
    transform: rotate(360deg);
    background-color: black;
    color: white;
} 

.btnActv span:hover{
  transition: 0.8s ease-in-out;
}